<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-logo" href="javascript:void(0);"><img ng-src="images/logo.png" width=41></a>
        <a class="navbar-brand" href="javascript:void(0);">RAUMBILD</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right" ng-show="showLogin">
            <li>
                <a id="loginModalTrigger" ng-click="trigerLoginModal()">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="showUser">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false"> {{ user.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="javascript:void(0)" ng-click="doLogout()">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
