<div id="nav-container" class="container">
    <h4>PROJECTS LIST</h4>
    <ul>
        <li ng-repeat="project in projects" class="row" ng-class="getClass(project)">
            <a href="javascript:void(0);" >
                <div class="project-row">
                    <div class="nav-project-info col-sm-10" ng-click="loadText(project.id)">
                        <b>{{ project.name }}</b> <span class="small">last modified: {{ project.date }}</span>
                        <p>{{ project.comment }}</p>
                    </div>
                    <div class="nav-project-options col-sm-2" hidden>
                        <span ng-click="remove(project.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div id="editor-container">
    <text-angular ng-model="data.text"></text-angular>
    <div class="editor-options pull-right">
        <button type="button" class="btn btn-info btn-sm" ng-click="reset()">RESET</button>
        <button type="button" class="btn btn-info btn-sm" ng-click="save()">SAVE</button>
    </div>
</div>
