<div id="nav-container" class="col-lg-2 col-sm-12">
    <h4>PROJECTS LIST</h4>
    <ul>
        <li ng-repeat="project in projects" class="row" ng-class="getClass(project)">
            <a href="javascript:void(0);" >
                <div class="project-row">
                    <div class="nav-project-info col-sm-10 col-xs-10" ng-click="loadText(project.id)" data-id="{{ project.id }}">
                        <b>{{ project.name }} </b>
                        <p>{{ project.comment }}</p>
                        <small class="pull-right"> {{ project.date }}</small>
                    </div>
                    <div class="nav-project-options col-sm-2 col-xs-2" hidden>
                        <span ng-click="remove(project.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div id="editor-container" class="col-lg-10 col-sm-12">
    <div class="dashboard">
        <text-angular ng-model="data.text"></text-angular>
        <div class="editor-options pull-right">
            <button type="button" class="btn btn-info btn-sm" ng-click="reset()">NEW</button>
            <button type="button" class="btn btn-info btn-sm" ng-click="triggerSaveModal()">SAVE</button>
        </div>
    </div>
</div>
