// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$body-background: #C2C2C2;

body{
  background: $body-background;

  nav{
    .navbar-logo{
      padding: 7px 15px;
    }
    #loginModalTrigger{
      cursor: pointer;
    }
  }
}
