// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$body-background: #DDDBDB;
$main-container-background: #222;
$border-containers: 10px;
$page-height: 535px;
$font-color: #fff;
$editor-height: 400px;
$page-width: 98%;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


body{
  background: $body-background;

  nav{
    width: $page-width;
    margin: 0 auto;
    border-radius: $border-containers;



    .navbar-header{
      padding-left: 50px;

      .navbar-brand{
        padding: 15px 0px;
      }
      .navbar-logo{
        padding: 7px 15px;
      }
    }

    #loginModalTrigger{
      padding-right: 20px;
      cursor: pointer;
    }
  }

  .main-container{
    height: $page-height;
    width: 100%;

    .nav-container{
      height: $page-height;
      background: $main-container-background;
      color: $font-color;
      text-align: left;
      border-radius: $border-containers;

      ul{
        padding: 2px;
        list-style-type: none;
        li {
          margin: 5px auto;
          a{
            text-decoration: none;
            color: $font-color;
            .project-row {
              padding-left: 10px;
              p{
                padding-left: 5px;
              }
            }
          }
        }
        li:hover, .active{
          a{
            color: #000;
          }
          .nav-project-options{
            display: inline-block;
            padding: 15px 0px 0px 20px;
          }
          background: #fff;
          opacity: 0.6;
          border-radius: 5px;
        }
      }
      #projectsArrow{
        position: absolute;
        top: 10px;
        right: 5px;
      }
    }

    #editor-container{
      height: $page-height;
      .dashboard{
        padding: 10px;
        height: 100%;
        text-align: left;
        background: $main-container-background;
        color: $font-color;
        border-radius: $border-containers;
        .ta-scroll-window{
          height: 78%;
        }

        .ta-scroll-window.form-control{
          margin-top: 5px;
        }


      }

      .editor-options{
        margin-top:10px;
      }
    }
  }

  .row-footer{
    color: #fff;
    width: $page-width;
    margin: 10px auto;
    padding-right: 50px;
    border-radius: $border-containers;
    background: $main-container-background;
    .container{
      width: 100%;
      p{
        float:right;
        padding: 15px 0px 5px 0px;
      }
    }
  }
}

@media (max-width: $screen-md-max) {

  .nav-container{
    height: 400px !important;
    position: absolute;
    top: 140px;
    left: -245px;
    opacity: 0.9;
    z-index: 10;
    width: 265px;
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
    ul{
      padding: 2px;
      list-style-type: none;
      li {
        margin: 5px auto;
        a{
          text-decoration: none;
          color: $font-color;
          .project-row {
            padding-left: 10px;
            p{
              padding-left: 5px;
            }
          }
        }
      }
      li:hover, .active{
        a{
          color: #000;
        }
        .nav-project-options{
          display: inline-block;
          padding: 15px 0px 0px 20px;
        }
        background: #fff;
        opacity: 0.6;
        border-radius: 5px;
      }
    }
    #projectsArrow{
      display: block;
    }
  }
  .nav-container.listProjectsOpen{
    left: 0px;
    height: 600px !important;
  }
}

@media (max-width: $screen-sm-max) {
  body {
    .main-container {
      height: 575px;

      #editor-container{
        height: 570px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  body {
    .main-container {
      height: 707px;

      #editor-container{
        height: 707px;
        .dashboard{
          .ta-scroll-window{
            height: 58%;
          }
        }
      }
    }
  }
}